<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkr.dao.mapper.XkrAdminAccountMapper">
    <resultMap id="BaseResultMap" type="com.xkr.domain.entity.XkrAdminAccount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="account_token" property="accountToken" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="ext" property="ext" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="admin_fields">
    id,account_name,account_token,email,role_id,status,create_time,update_time,ext
  </sql>

    <update id="updateAdminAccountById" parameterType="java.util.Map">
        UPDATE xkr_admin_account
        <trim prefix="set" >
            <if test="accountName!=null">
                account_name = #{accountName} ,
            </if>
            <if test="accountToken!=null">
                account_token = #{accountToken} ,
            </if>
            <if test="email!=null">
                email = #{email} ,
            </if>
            <if test="roleId!=null">
                role_id = #{roleId} ,
            </if>
        </trim>
        update_time = now()
        WHERE id = #{id}
    </update>

    <update id="batchUpdateAdminAccountByIds" parameterType="java.util.Map">
        UPDATE xkr_admin_account
        SET status = #{status} , update_time = now() WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="admin_fields"/>
        FROM xkr_admin_account WHERE id = #{id}
        AND status = 1
    </select>

    <select id="selectByAccountName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="admin_fields"/>
        FROM xkr_admin_account WHERE account_name = #{accountName}
        AND status = 1
    </select>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT
        <include refid="admin_fields"/>
        FROM xkr_admin_account
        WHERE status = 1
    </select>

    <select id="getListByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="admin_fields"/>
        FROM xkr_admin_account WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND status = 1
    </select>

    <select id="getAdminAccountByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="admin_fields"/>
        FROM xkr_admin_account WHERE role_id = #{roleId}
        AND status = 1
    </select>

</mapper>