<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkr.dao.mapper.XkrResourceMapper">
    <resultMap id="BaseResultMap" type="com.xkr.domain.entity.XkrResource">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="class_id" property="classId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="cost" property="cost" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="report" property="report" jdbcType="TINYINT"/>
        <result column="file_size" property="fileSize" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="resource_url" property="resourceUrl" jdbcType="VARCHAR"/>
        <result column="download_count" property="downloadCount" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="ext" property="ext" jdbcType="BLOB" javaType="[B" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
        <result column="detail" property="detail" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="resource_field">
    id,class_id,user_id,cost,status,report,file_size,title,resource_url,download_count,
    create_time,update_time,ext,detail
  </sql>
    <sql id="resource_field_t_filter">
        t.id as id,t.class_id as class_id,
        t.user_id as user_id,t.cost as cost,
        t.status as status,t.report as report,
        t.file_size as file_size,t.title as title,
        t.resource_url as resource_url, t.download_count as download_count,
        t.create_time as create_time,t.update_time as update_time,
        t.ext as ext,t.detail as detail
    </sql>


    <delete id="batchDeleteResourceByIds" parameterType="java.util.List">
        DELETE FROM xkr_resource WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="batchUpdateResourceByIds" parameterType="java.util.Map">
        UPDATE xkr_resource SET status = #{status}, update_time = now()
        where id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <update id="batchUpdateResourceClassByIds" parameterType="java.util.Map">
        UPDATE xkr_resource SET class_id = #{classId}, update_time = now()
        where id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <select id="getResourceById" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="resource_field"/>
        FROM xkr_resource WHERE id = #{id}
        <if test="statuses!=null">
            AND status in
            <foreach collection="statuses" item="status" separator="," open="(" close=")">
                #{status}
            </foreach>
        </if>
    </select>

    <select id="getResourceByIds" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="resource_field"/>
        FROM xkr_resource WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        <if test="statuses!=null">
            AND status in
            <foreach collection="statuses" item="status" separator="," open="(" close=")">
                #{status}
            </foreach>
        </if>
    </select>

    <select id="getResourceByClassIds" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="resource_field"/>
        FROM xkr_resource WHERE class_id IN
        <foreach collection="classIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        <if test="statuses!=null">
            AND status in
            <foreach collection="statuses" item="status" separator="," open="(" close=")">
                #{status}
            </foreach>
        </if>
    </select>

    <select id="getResourceByUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="resource_field"/>
        FROM xkr_resource WHERE user_id = #{userId}
        <if test="statuses!=null">
            AND status in
            <foreach collection="statuses" item="status" separator="," open="(" close=")">
                #{status}
            </foreach>
        </if>
    </select>

    <select id="getTotalResource" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1)
        FROM xkr_resource
        where 1=1
        <if test="classIds!=null">
            AND class_id in
            <foreach collection="classIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        <if test="statuses!=null">
            AND status in
            <foreach collection="statuses" item="status" separator="," open="(" close=")">
                #{status}
            </foreach>
        </if>
    </select>

    <select id="searchByFilter" parameterType="java.util.Map" resultMap="BaseResultMap">
        SELECT
        <include refid="resource_field_t_filter"/>
        FROM xkr_resource t
        LEFT JOIN xkr_user t1 on t.user_id = t1.id
        WHERE 1=1
        <if test="status!=null">
            AND t.status = #{status}
        </if>
        <if test="startDate!=null">
            AND t.update_time >  #{startDate}
        </if>
        <if test="keyWord!=null and keyWord!=''">
            AND (t.title like concat('%', #{keyWord},'%') OR t.detail like concat('%', #{keyWord},'%'))
        </if>
        <if test="userName!=null and userName!=''">
            AND (t1.user_name like  concat('%', #{userName},'%') or t1.email like concat('%', #{userName},'%'))
            and t1.status in ('1','2','3')
        </if>
        <if test="report!=null">
            AND t.report = #{report}
        </if>
        <if test="classIds!=null and classIds.size()>0">
            AND t.class_id in
            <foreach collection="classIds" item="classId" separator="," open="(" close=")">
                #{classId}
            </foreach>
        </if>
    </select>


</mapper>