<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkr.dao.mapper.XkrResourceCommentMapper" >
  <resultMap id="BaseResultMap" type="com.xkr.domain.entity.XkrResourceComment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="parent_comment_id" property="parentCommentId" jdbcType="BIGINT" />
    <result column="root_comment_id" property="rootCommentId" jdbcType="BIGINT" />
    <result column="client_ip" property="clientIp" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>


  <sql id="resource_comment_field">
    id,resource_id,user_id,parent_comment_id,root_comment_id,client_ip,status,
    create_time,update_time,ext,content
  </sql>

  <sql id="resource_comment_field_t">
    t.id as id,t.resource_id as resource_id,t.user_id as user_id,t.parent_comment_id as parent_comment_id,
    t.root_comment_id as root_comment_id,t.client_ip as client_ip,t.status as status ,
    t.create_time as create_time,t.update_time as update_time,t.ext as ext,t.content as content
  </sql>

  <select id="getCommentsByIds" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="resource_comment_field"/>
    FROM xkr_resource_comment WHERE id IN
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
    <if test="statuses!=null">
      AND status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">
        #{status}
      </foreach>
    </if>
  </select>

  <select id="getCommentById" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="resource_comment_field"/>
    FROM xkr_resource_comment WHERE id = #{id}
    <if test="statuses!=null">
      AND status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">
        #{status}
      </foreach>
    </if>
  </select>

  <update id="batchUpdateCommentByIds" parameterType="java.util.Map">
    UPDATE xkr_resource_comment SET status = #{status}, update_time = now()
    where id IN
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </update>

  <select id="getCommentsByResourceId" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="resource_comment_field"/>
    FROM xkr_resource_comment WHERE resource_id = #{resourceId}
    <if test="statuses!=null">
      AND status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">
        #{status}
      </foreach>
    </if>
  </select>

  <select id="searchByFilter" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="resource_comment_field_t"/>
    FROM xkr_resource_comment t
    LEFT JOIN xkr_user t1
    on t.user_id = t1.id WHERE 1=1
    <if test="status!=null">
      AND t.status = #{status}
    </if>
    <if test="updateDate!=null">
      AND t.update_time > #{updateDate}
    </if>
    <if test="keyword!=null and keyword!=''">
      AND t.content like  concat('%', #{keyword},'%')
    </if>
    <if test="userName!=null and userName!=''">
      AND (t1.user_name like  concat('%', #{userName},'%') or t1.email like concat('%', #{userName},'%'))
      AND t1.status in ('1','2','3')
    </if>

  </select>

</mapper>