<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkr.dao.mapper.XkrUserMapper" >
  <resultMap id="BaseResultMap" type="com.xkr.domain.entity.XkrUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_token" property="userToken" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="wealth" property="wealth" jdbcType="BIGINT" />
    <result column="total_recharge" property="totalRecharge" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="user_fields" >
    id,user_name,user_token,salt,email,wealth,total_recharge,status,create_time,update_time,ext
  </sql>

  <select id="getTotalUser" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT count(1)
    FROM xkr_user
    <if test="statuses!=null">
      WHERE status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">
        #{status}
      </foreach>
    </if>
  </select>

  <update id="batchUpdateUserByIds" parameterType="java.util.Map">
    UPDATE xkr_user SET status = #{status}, update_time = now()
    where id IN
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </update>

  <select id="getUserById" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT  <include refid="user_fields"/>
    FROM xkr_user WHERE id = #{id}
    <if test="statuses!=null">
      AND status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">
        #{status}
      </foreach>
    </if>
  </select>

  <select id="getUserByIds" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT  <include refid="user_fields"/>
    FROM xkr_user WHERE id IN
    <foreach collection="ids" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
    <if test="statuses!=null">
      AND status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">
        #{status}
      </foreach>
    </if>
  </select>

  <select id="selectByUserName" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT  <include refid="user_fields"/>
    FROM xkr_user WHERE user_name = #{userLogin}
    <if test="statuses!=null">
      AND status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">
        #{status}
      </foreach>
    </if>
  </select>

  <select id="selectByEmail" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT <include refid="user_fields"/>
    FROM xkr_user WHERE email = #{userLogin}
    <if test="statuses!=null">
      AND status in
      <foreach collection="statuses" item="status" separator="," open="(" close=")">
        #{status}
      </foreach>
    </if>
  </select>

</mapper>